[Unit]
Description=Midterm2WHY
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=nirav
ExecStartPre=conda activate cv_detection
ExecStart=python main.py

[Install]
WantedBy=multi-user.target